<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="{{  url_for('static',filename='style.css')  }}">

</head>




<body>
    '<h1>This is a Todo List applicaton</h1>
    <ul>
        {% for todo in todos %}
            <li>{{ todo }}
            <button>Delete</button></li> 
        {% endfor %}
    </ul>


    <div>
        <form method="POST" action="/add">
        <input type="text" id="addtodo" name="addtodo1">
        <button type="submit">Add Task</button></form>
    </div>






</body>


</html>